* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: "Patrick Hand";
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: whitesmoke;
}
#ref {
    padding: 30px 0;
}
.container {
    padding: 10px 10%;
    display: flex;
}

.sub-title {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 130px;
    margin-top: 50px;
}
.reference-list div {
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.reference-list div img {
    height: 330px;
    width: 320px;
}

.reference-list div h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.reference-list div:hover {
    background: #101c2c;
    transform: translateY(-10px);

}
.reference-list img{
    width: 100%;
    filter: blur(1px);
}

